_cache_/*
_provider.tf
.dccache
.infracost
.terraform
.terraform.lock.hcl
.vsgitbuild
*.pprof
*.tfstate*
*.zip
callgrind.*
node_modules/
secrets.auto.tfvars
terraform.tfstate
terraform.tfvars
tests/.test-data
tests/**/.test-data
tests/**/terraform.*
tests/**/terratest-*
tests/terraform.*
tests/terratest-*
tfplan
